@import "../../styles/common";

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;

  .input-title {
    font-size: 1rem;
    color: #000;
  }
  .error-text {
    position: absolute;
    bottom: -1.75rem;
    font-size: 0.8rem;
    margin-bottom: 0.25rem !important;
  }
  .input-box {
    position: relative;
    .eye {
      position: absolute;
      inset: 50% 0.75rem auto auto;
      transform: translateY(-50%);
      color: black;
    }
  }
}
.mb-0 {
  margin-bottom: 0;
}
