@import "../../../styles/common";

.youtube-trailer {
  display: flex;
  justify-content: center;
  background: linear-gradient(359deg, #263344, black);
  @media screen and (min-width: 992px) {
    padding: 0rem 1rem 3rem;
  }
  .youtube-trailer-wrapper {
    width: 100%;
    max-width: 65rem;
    padding: 1rem 1rem 3rem;

    iframe {
      width: 100%;
      aspect-ratio: 4/2;
      height: auto;
      border-radius: 1rem;
    }
  }
}
