@import "../../../styles/common";

.our-teambeyond-section {
  position: relative;
  display: block;
  background-color: #1d1c2c;
  padding: 3rem 0 3rem;
  min-height: auto;
  overflow: hidden;
  .sectionHeading {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 1rem;
    line-height: 1.35;
    font-family: $nunito-sans;
    span {
      color: #ffffff;
    }
  }

  .our-teambeyond-desc {
    color: #ecececcc;
    text-transform: uppercase;
    font-size: 1.3rem;
    max-width: 64rem;
    text-align: center;
    margin: 0 auto 3rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }

  .cmp_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 991px) {
      max-width: 100%;
    }
    img {
      width: 25%;
      object-fit: contain;
      object-position: center;
      filter: invert(1);
      filter: invert(0.2);
      opacity: 0.8;
      padding: 0.5rem 1rem;
      &.invert-reverse {
        filter: invert(0);
        // filter: invert(0.6);
        opacity: 1;
      }
      @media screen and (max-width: 991px) {
        width: 33.33%;
      }
      @media screen and (max-width: 767px) {
        width: 50%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .our-teambeyond-section {
    font-size: 22px;
  }
}
