@import "../../../styles/common";

.refer-treasurebox-section {
  position: relative;
  padding-top: 3rem;
  background: #1d1c2c;

  .refer-heading {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;

    text-align: center;
    margin: 0 auto 0;
    @media screen and (max-width: 540px) {
      max-width: 31rem;
    }
    h4 {
      text-align: center;
      font-family: $nunito-sans;
      padding: 1.5rem 0;
      line-height: 1.6;
      font-size: 2.3rem;
      span {
        color: #ffdd98;
      }
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      color: #ffffffb3;
      margin-bottom: 2rem;
    }
  }

  img.refer-treasurebox-images {
    width: 100%;
    height: auto;
    max-width: 60rem;
    margin: 0rem auto;
    display: table;
  }
  .refer-treasurebox-button {
    // position: absolute;
    // right: 0;
    // left: 0;
    margin: auto;
    width: 12rem;
    bottom: 0;
    margin-bottom: 3%;

    color: #fff;
    transition: 0.3s;
    text-transform: capitalize;
    background: transparent linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%) 0%
      0% no-repeat padding-box;
    border: solid 1px transparent;
    border-radius: 50rem;
    font-family: $proxima-nova;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    z-index: 2;
    display: table;

    &:hover,
    &:focus,
    &:active {
      border: solid 1px #ec7c49;
      background: transparent;
      color: #ec7c49;
    }
    &:disabled {
      background: #595959;
      color: #979494;
      border: none;
      opacity: 0.6;
    }
  }
}

.spin-text {
  text-align: center;
  font-size: 1.1rem;
  max-width: 38rem;
  margin: 0 auto 1rem;
  color: #ffffffab;
}
