@import "../../styles/common";

.loot-timer-section {
}
.tba {
  background: #ffffffc9;
  border-top: 0.4rem solid #ff7f00 !important;
  border-bottom: 0.4rem solid #ff7f00 !important;
  font-size: 2rem !important;
  color: #000;
  padding: 0.5rem 0rem;
  margin: 0rem auto 2rem;
  border-radius: 1rem;
  text-align: center;
  letter-spacing: 0.5rem;
  width: 12rem !important;
}
