.our-brand-section {
  background-color: #000;
  .our-brand-wrapper {
    padding: 4rem 1rem;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    .section-title {
      h2 {
        text-align: center;
        margin: 0;
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
        @media screen and (min-width: 768px) {
          font-size: 2rem;
        }
        @media screen and (min-width: 992px) {
          font-size: 2.5rem;
        }
        @media screen and (min-width: 1200px) {
          font-size: 3rem;
        }
      }
    }
    .brand-logo-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      .c-image {
        width: calc(50% - 1rem);
        @media screen and (min-width: 768px) {
          width: calc(33.33% - 1rem);
        }
        @media screen and (min-width: 992px) {
          width: calc(25% - 1rem);
        }
        @media screen and (min-width: 1200px) {
          width: calc(25% - 1rem);
          &:nth-child(n + 4) {
            width: calc(20% - 1rem);
          }
        }
        img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
