@import "../../../styles/common";

.refer-treasurebox-section {
  position: relative;
  padding-top: 3rem;
  background: #0b111f;
  @media screen and (max-width: 540px) {
    background: #030a17;
  }
  .refer-heading {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;

    text-align: center;
    margin: 0 auto 0;
    @media screen and (max-width: 540px) {
      max-width: 31rem;
    }
    h4 {
      text-align: center;
      font-family: $nunito-sans;
      line-height: 1.3;
      font-size: 2rem;
    }
    p {
      color: #ffffffcc;
    }
  }

  img.refer-treasurebox-images {
    width: 100%;
    height: auto;
  }
  .refer-treasurebox-button {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 12rem;
    bottom: 0;
    margin-bottom: 3%;

    color: #fff;
    transition: 0.3s;
    text-transform: capitalize;
    background: transparent linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%) 0%
      0% no-repeat padding-box;
    border: solid 1px transparent;
    border-radius: 50rem;
    font-family: $proxima-nova;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    z-index: 2;

    &:hover,
    &:focus,
    &:active {
      border: solid 1px #ec7c49;
      background: transparent;
      color: #ec7c49 !important;
    }
  }
}
